/* .div1{
  display: flex;
} */
body{
    background-color: red;
}
.div2{
    border: solid 1px ;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    color: black;
    
}
.div{
   display: flex;
   padding: 80px;
}